modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 18970
externalPort = 3002

[userenv]

[userenv.shared]
STREAMPAY_BASE_URL = "https://stream-app-service.streampay.sa"
STREAMPAY_AUDIT_PRODUCT_ID = "b226649e-dc8a-4bb9-9b9e-1ddd90d26b58"
N8N_API_KEY = "f71a6a84dc3f1e412c77c8df8da9d9066c3648cc1be54052bf3d48b7cc64e7cf"
STREAM_API_KEY = "6p74kn2h3pay"
STREAM_API_SECRET = "z2ztkuqm4u33vp3pe23pjq9qxm2syvyhhjr4s87r5vuge9u5yjy9ut9agmr585a7"
N8NP2_WEBHOOK_URL = "https://n8n.srv1528224.hstgr.cloud/webhook-test/raqeeb-chat"
N8N_WEBHOOK_URL = "https://n8n.srv1528224.hstgr.cloud/webhook-test/cb9856dd-27b1-4a3b-98a5-578399195fd9"

[nix]
channel = "stable-25_05"
